.div_header{
    height: 120px;
    background-image: url(../img/pattern.png);
    background-color: aqua;
}

.logo{
    width: 12%;
    margin-left: 25%;
    margin-top: 35px;
}

.written_by{
    color: grey;
    font-size: 10px;
}

.data{
    color: grey;
    font-size: 8px;
}

a{
    text-decoration: none;
}

main{
    max-width: 1000px;
    margin: 0 auto;
}

h1{
    margin-bottom: 0;
}

.tim{
    width: 100%;
    height: 365px;
}

.tim_1, .tim_2{
    width: 48%;
    height: 100%;
}

.desc_photo{
    font-size: 8px;
}

.list{
    padding-inline-start: 12px;
}

.thead{
    background-color: #4EA0FF;
    color: white;
}

.tbody{
    background-color: #B1E5F2;
}

.more{
    width: 50%;
    text-align: left;
}

.less{
    width: 25%;
    text-align: left;
}

.lorem_table{
    border-spacing: 0;
}
